{% macro render_field(field, class) %}
    <div class="form-group">
    <label for="{{ field.id }}">{{ field.label.text }}</label>
    {{ field(**kwargs)|safe }}

  {% if field.errors %}
    <ul class=errors>
    {% for error in field.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  </div>
{% endmacro %}
