{% extends "base.html" %}
{% from "_formhelpers.html" import render_field %}
{% block content %}
    <form method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        {{ render_field(form.name, class_="form-control") }}
        {{ render_field(form.job_title, class_="form-control") }}
        {{ render_field(form.line_1, class_="form-control") }}
        {{ render_field(form.line_2, class_="form-control") }}
        {{ render_field(form.tel, class_="form-control") }}
        {{ render_field(form.fax, class_="form-control") }}
        {{ render_field(form.web, class_="form-control") }}
        {{ render_field(form.twitter, class_="form-control") }}
        {{ render_field(form.facebook, class_="form-control") }}
        {{ render_field(form.image, class_="form-control") }}
        {{ render_field(form.holiday_message, class_="form-control") }}
        {{ render_field(form.holiday_image, class_="form-control") }}
        {{ render_field(form.image_width, class_="form-control") }}
        {{ render_field(form.image_height, class_="form-control") }}
        {{ render_field(form.bg_colour, class_="form-control") }}
        {{ render_field(form.text_colour, class_="form-control") }}
        <p>&nbsp;</p>
        <button type="submit" class="btn btn-primary">Generate Signature...</button>
    </form>

    <p>&nbsp;</p>

    {% if image %}
        <h5>Sig Image</h5>
        <p class="card-text">Right-click and Save Image As... to save.</p>
        <div class="container text-center">
            <div class="row">
                <div class="col">

                    <img src="data:image/png;base64, {{ image }}" class="img-thumbnail" alt="sig"/>
                </div>
            </div>
        </div>

    {% endif %}
{% endblock content %}
